*{margin:0px; padding:0px;}
body{background-color: #F0F2F5;}
p{font-size:32px;}


.login{margin-top:30%; text-align:center; padding:20px; width:436px; background-color: #ffffff;}
input[type=text],
input[type=password],
input[type=submit]{font-size:20px; padding:15px 0px 15px 10px; margin:10px 0px; width:100%;}

input[type=submit]{cursor:pointer;background-color:#1877f2; border:none;color:#ffffff;}
.login a{margin-bottom:15px; color:#1877f2;font-size:18px;}
.login hr{color:lightgray; margin:20px 0px;}
.login button{cursor:pointer; border:1px solid #42b72a; color:#ffffff; background-color:#42b72a; font-size:20px; padding:15px 30px;}